@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>Om sidan</h1>

<p>Detta är en sida skapad som en lösning för moment 1:1 i kursen DT191G.
    En kurs som handlar om webbutveckling med .NET.</p>
<p>Just denna sida är skapad med hjälp utav verktyget Razor.</p>
<p>Mina erfarenheter av Razor är knapphändiga, men det jag har fått prova på nu är intressant.
    Jag som skapat den går andra året vid Mittuniversitetet där jag utbildar mig till Webbutvecklare.</p>
