@page
@model IndexModel
@{
    ViewData["Title"] = "DT191G";
}

<h1>Startsidan</h1>
<p>Hund (Canis lupus familiaris eller Canis lupus domesticus,[1] tidigare även Canis familiaris) är en domesticerad
    underart av varg (Canis lupus). </p>
<p> Läran om hundar kallas kynologi. Hundar finns av många olika raser, vilka framavlats av
    människan sedan hunden domesticerades. </p>
<p>Idag bestäms dessa raser utifrån vissa rasstandarder som internationellt
    fastställs av Fédération Cynologique Internationale (FCI).</p>
<p>Källa: <a href="https://sv.wikipedia.org/wiki/Hund">Wikipedia</a></p>
